body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search-button {
  border: none;
  border-radius: 21px 0 0 21px;
  background-color: #f2f2f2;
  padding-left: 14px;
}

.search-input {
  border: none !important;
  background-color: #f2f2f2 !important;
  border-radius: 0 21px 21px 0 !important
}

.search-input:focus {
  box-shadow: none !important;
  background: #f2f2f2
}

.custom-btn-create {
  color: #2e2e2e;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal
}

.banner-text {
  justify-content: space-between
}

@media screen and (min-width: 992px) {
  .banner-text {
    justify-content: end
  }
}

@media (max-width: 992px) {
  .custom-bg-container {
    height: 236px !important
  }
}


.nav-link {
  color: #8a8a8a !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.nav-link.active {
  color: #000 !important;
  font-family: IBM Plex Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.join-leave-group {
  color: #fff !important;
  border: .8px solid #ffff !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important
}

.join-group:hover {
  color: #fff;
  background-color: #0003
}

.imagePost {
  height: 220px;
  border-radius: 4px 4px 0 0;
  background-color: #c4c4c4
}

.post-link {
  border-radius: 10px !important;
  border: .7px solid #a9aeb8 !important;
  background: #fff !important
}

@media screen and (min-width: 992px) {
  .posts-center {
    flex: 1 0 auto !important
  }
}

.input-text {
  outline: none;
  border: none
}

.location-info {
  color: #000;
  opacity: .5;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal
}

.text-recommended {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase
}

.follow {
  background: #edeef0 !important
}

.custom-modal-header {
  color: #008a45;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px
}

.info-signup {
  color: #000 !important;
  opacity: .6 !important;
  text-align: right !important;
  font-family: IBM Plex Sans !important;
  font-size: 11px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 16px !important;
  letter-spacing: -.088px
}

.button-signup-group {
  border-radius: 2px !important;
  border: .6px solid #d9d9db !important;
  background: #fff !important
}

.forgot {
  color: #000;
  text-align: center;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: -.096px
}

.custom-input {
  border-radius: 2px 2px 0 0 !important;
  border: 1px solid #d9d9db !important;
  background: #f7f8fa !important
}

.dropdown .show {
  transform: translate3d(-116px, 30.5px, 0) !important
}

.circle-write-post {
  height: 54px;
  width: 54px;
  background: linear-gradient(180deg, #ff5c5c, #f0568a);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, .08)) drop-shadow(0px 2px 4px rgba(0, 0, 0, .18))
}

.forgot {
  color: #000 !important;
  text-align: center !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 500 !important;

}

.custom-main-button {
  top: 22px;
  padding: 0 16px
}

.text-main-posts {
  color: #212529;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: .14px
}

.btn-filter {
  background: #f1f3f5 !important;
  color: #212529 !important;
  font-size: 13px !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: normal !important
}
